.botao{
    position: absolute; 
    width: 115px; 
    height: 41px; 
    left: 1239px; 
    top: 15px;  
    background: #000000; 
    border-radius: 30px;
}
span{

   
    font-weight: 700;
    color: #FFFFFF;
}
#btnlogin{
    width: 150px;
    background: #000000;
    border-radius: 30px;  
    border: none;  
    
}
#btnconta{
    width: 150px;
    background: transparent;
    border-radius: 30px;
    border-color: black;
}