<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" id="espacamento">
        <ul class="navbar-nav mr-auto d-flex justify align-items-center text-dark">
            <li class="nav-item active">
                <img src="{{foto}}" title="source: imgur.com" height="50px"
                        width="50px" class="img-fluid rounded-circle" />
            </li>
            <li class="nav-item pl-1">
                <p class="m-0 font-weight-bold fs-16">{{nome}}|</p>
            </li>
            <li class="nav-item pl-3"><a href="" routerLink='/inicio'>
                <p href="" class="m-0 font-weight-bold fs-16">Inicio</p>
            </a>
            </li>
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold fs-16" routerLink='/sobre-nos'>Sobre nós</a>
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold fs-16" routerLink='/contato'>Contato</p>
            </li>
            

        </ul>
        
        <ul class="navbar-nav ml-auto d-flex justify align-items-center">
            <li class="nav-item pl-3">
                <a (click) = 'sair()' class="m-0 font-weight-bold fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
        </ul>


    </div>
</nav>