<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" id="espacamento">
        <ul class="navbar-nav mr-auto d-flex justify align-items-center text-dark">
            <li class="nav-item active">
                <img src="{{foto}}" title="source: imgur.com" height="50px" width="50px"
                    class="img-fluid rounded-circle" />
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold fs-16 text-white">{{nome}} |</p>
            </li>
            <li class="nav-item pl-3">
                <a [routerLink]="['/user-edit', id]">
                    <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>



                </a>


            </li>
            <li class="nav-item pl-3">
                <button type="button" routerLink='/inicio' class="btn btn-outline-success">Inicio</button>
            </li>
            
            <li class="nav-item pl-3">
            <button type="button" routerLink='/sobre-nos' class="btn btn-outline-success">Sobre nós</button>
            </li>



        </ul>

        <ul class="navbar-nav ml-auto d-flex justify align-items-center">
            <li class="nav-item pl-3">
                <a (click)='sair()' class="btn btn-outline-success">Sair <i class="fa fa-sign-out"
                        aria-hidden="true"></i></a>
            </li>
        </ul>


    </div>
</nav>

