<app-menu2></app-menu2>
<section class="w-100">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                    <img src="../../assets/img/MAH DIVERSIDADE.png" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100 pl-5" style="background-color: rgba(10,23,55,0.5);
                ">
                    <h2 class="display-3 leadTitle text-left">Ajude o próximo!</h2>
                    <p class="lead text-left">Acreditamos no consumo responsável e sustentável. Conheça e apoie os
                        pequenos produtores nas suas proximidades.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                    <img src="../../assets/img/MAH DIVERSIDADE.png" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100 pl-5" style="background-color: rgba(10,23,55,0.5);
                ">
                    <h2 class="display-3 leadTitle text-left">Dividir o pão de cada dia agora ficou mais fácil</h2>
                    <p class="lead text-left">Entenda a funcionalidade de doação via vendaverde.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                    <img src="../../assets/img/MAH DIVERSIDADE.png" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100 pl-5" style="background-color: rgba(10,23,55,0.5);
                ">
                    <h2 class="display-3 leadTitle text-left">Acreditamos em pequenos esforços diários</h2>
                    <p class="lead text-left">Apoie as reservas extrativistas locais. Conheça Link</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  </section>
  <app-rodape></app-rodape>
  <!-- Hero section -->