<app-menu2></app-menu2>
<section class="w-100">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                    <img src="../../assets/img/carrocel2 p 2.png" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100 pl-5" style="background-color: rgba(8, 73, 28, 0.5);
                ">
                    <h2 class="display-3 leadTitle text-left">Nós somos uma biblioteca interativa para instruir você.</h2>
                    <p class="lead text-left">Em conjunto, nós podemos ajudar uns aos outros, faça parte desta comunidade, deixa sua postagem com conhecimento, conselhos e dicas para ajudar e instruir nossos semelhantes.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                    <img src="../../assets/img/carrocel2 p 2.png" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-caption d-flex justify-content-center align-items-center flex-column h-100 pl-5" style="background-color: rgba(8, 73, 28, 0.5);
                ">
                    <h2 class="display-3 leadTitle text-left">Você ja ouviu falar na ODS 16 da ONU?</h2>
                    <p class="lead text-left">Os Objetivos de Desenvolvimento Sustentável (ODS) são uma agenda mundial adotada durante a Cúpula das Nações Unidas sobre o Desenvolvimento Sustentável em setembro de 2015, composta por 17 objetivos e 169 metas a serem atingidos até 2030. 
                        E a ODS 16 a qual é nosso pilar, se trata sobre Paz, justiça e instituições eficazes: promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, proporcionar o acesso à justiça para todos e construir instituições eficazes, responsáveis e inclusivas em todos os níveis. 
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                    <img src="../../assets/img/carrocel2 p 2.png" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100 pl-5" style= "background-color: rgba(8, 73, 28, 0.5);
                ">
                    <h2 class="display-3 leadTitle text-left">Acreditamos em pequenos esforços diários.</h2>
                    <p class="lead text-left">Apoie as ações sociais e instituições eficazes proximas a você.
                        Juntos podemos mudar o mundo, juntos alcançaremos uma sociedade justa e mais pacífica.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  </section>
  <br>
  <app-rodape></app-rodape>
  <!-- Hero section -->