<div align="center">
    <div class="container">
        
    <h1>Sobre Nós</h1>

    <p align="justify">
        Somos um grupo de estudantes de Desenvolvimento Web Full-Stack do bootcamp da Generation Brasil, 
        e fomos desafiados a criar um projeto cujo impacto social estivesse de acordo com um dos Objetivos de
        Desenvolvimento Sustentável da ONU. O objetivo escolhido foi Paz, Justiça e Instituições eficazes, 
        que tem como premissas promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, 
        proporcionar o acesso à justiça para todos e construir instituições eficazes, responsáveis e inclusivas
        em todos os níveis. Pensando nisso, desenvolvemos o MAH, com o intuito de aglomerar e disponibilizar
        informações sobre direitos humanos, politicas públicas e instituições eficazes, tudo Isso por meio 
        desta rede social e publicações feitas por usuários e adimistradores.
        </p>
        
        <h2>Missão</h2>
        <p>
        Proporcionar acesso a informação e instrução a grupos marginalizados na sociedade para capacitar seu 
        desenvolvimento.    
        </p>

    </div>