<!-- Hero section -->
<section class="w-100">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                  <img src="../../assets/img/MAH DIVERSIDADE.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100 pl-5" style="background-color: rgba(10,23,55,0.5);
              ">
                  <h2 class="display-3 leadTitle text-left">Ajude o próximo!</h2>
                  <p class="lead text-left">Acreditamos no consumo responsável e sustentável. Conheça e apoie os
                      pequenos produtores nas suas proximidades.</p>
              </div>
          </div>
          <div class="carousel-item">
              <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                  <img src="../../assets/img/MAH DIVERSIDADE.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100 pl-5" style="background-color: rgba(10,23,55,0.5);
              ">
                  <h2 class="display-3 leadTitle text-left">Dividir o pão de cada dia agora ficou mais fácil</h2>
                  <p class="lead text-left">Entenda a funcionalidade de doação via vendaverde.</p>
              </div>
          </div>
          <div class="carousel-item">
              <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                  <img src="../../assets/img/MAH DIVERSIDADE.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100 pl-5" style="background-color: rgba(10,23,55,0.5);
              ">
                  <h2 class="display-3 leadTitle text-left">Acreditamos em pequenos esforços diários</h2>
                  <p class="lead text-left">Apoie as reservas extrativistas locais. Conheça Link</p>
              </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</section>
<!-- Hero section -->

<div class="container-fluid">
  <div class="row bg-transparent d-flex align-items-center">

    <div class="col-md-6">

      <div class="row d-flex justify-content-center ">
        <div class="col-md-6 text-dark">
          <h1 style="font-size: 54px;">MAH</h1>
          <h2>Me ajuda humano</h2>
          <h4>Orientar para incluir e incluir para crescer.</h4>


        </div>

      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
          <a class="btn btn-light" href="#postagens">Ver Postagens</a>
        </div>

      </div>

    </div>
    <div class="col-md-6 d-flex justify-content-center mt-3 mb-5">
      <img src="https://i.imgur.com/1cesOVv.png" alt="Fundo" width="500px" height="500px">
    </div>
  </div>



</div>

<div class="container mt-5 mb-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"
        href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Postagens</a>
      <a (click)='findByIdUser()' class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab"
        data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
        aria-selected="false">Minhas
        postagens</a>
      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab"
        href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por temas</a>
    </div>
  </nav>

  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">


      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of listaPostagens'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted mb-3">Tema: {{item.tema.descricao}}</small>
            <p class="card-text">{{item.postagem}}</p>
            <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MMM/yyyy'}} às {{item.data | date:
                'HH:mm'}}</small></p>
            <p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small></p>
          </div>
        </div>
      </div>



    </div>
    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of user.postagem'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted mb-3">Tema: {{item.tema.descricao}}</small>
            <p class="card-text">{{item.postagem}}</p>
            <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MMM/yyyy'}} às {{item.data | date:
                'HH:mm'}}</small></p>
                <a [routerLink] = "['/postagem-edit', item.id]" class= "text-info mr-3" href="">Editar</a>
                <a [routerLink] = "['/postagem-delete', item.id]" class = "text-danger" href="">Apagar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
      <div class="card-columns" *ngFor='let tema of listaTemas'>
        <div class="card text-center" *ngFor='let item of tema.postagem'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <p class="card-text">{{item.postagem}}</p>
            <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MMM/yyyy'}} às {{item.data | date:
                'HH:mm'}}</small></p>
            <p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.postagem' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>Cadastre um novo</a>:</label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
          </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>